@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap');
:root {
    --font0: 'Montserrat', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body, html {
    font-size: 100%;
    background-image: linear-gradient(45deg, #5970F0, #BDE4FF);
}
.cabecalho{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0px;
}
.cabecalho-logo {
    height: 72px;
}
.menu {
    display: flex;
    gap: 3px;
}
.item-menu {
    font-family: var(--font0);
    font-weight: 600;
    font-size: 13px;
    color: aliceblue;
    padding: 7px;
    border-radius: 7px;
}
.item-menu:hover {
    transition-duration: 0.5s;
    background-color: #3861b92f;
}
.principal {
    border-top: 0.5px solid aliceblue;
    padding: 30px 10px;
}
.conteudo-principal {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.principal-info{
    display: flex;
    flex-flow: column wrap;
    gap: 18px;
}
h1 {
    font-family: var(--font0);
    font-weight: 800;
    color: aliceblue;
    font-size: 48px;
}
h2 {
    font-family: var(--font0);
    font-weight: 600;
    font-size: 18px;
    color: aliceblue;
}
button {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.137);
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    color: aliceblue;
    font-family: var(--font0);
    width: 180px;
    height: 56px;
    background-color: #5970F0;
    border: none;
}
button:hover {
    cursor: pointer;
    background-color: #3861b9;
    font-size: 17px;
    transform: scale(103%, 103%);
    transition-duration: 0.3s;
}
.principal-bot {
    margin: 32px 0px;
    max-height: 360px;
}
.second {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
h3 {
    margin: 20px 0px 15px 0px;
    border-top: 0.5px solid aliceblue;
    padding-top: 30px;
    font-family: var(--font0);
    color: aliceblue;
    font-size: 20px;
}
.second-item {
    font-family: var(--font0);
    color: aliceblue;
    font-weight: 400;
}
.rodape {
    padding: 50px 0px;
    border-top: 0.5px solid aliceblue;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.logo-foot {
    max-height: 54px;
}
.foot-text {
    color: aliceblue;
    font-weight: 800;
    font-family: var(--font0);
    font-size: 25px;
}

@media screen and (min-width: 700px) {
    .item-menu {
        font-size: 17px;
        padding: 10px;
        border-radius: 10px;
    }
}
@media screen and (min-height: 1135px) {
    body {
        height: 100vh;
    }
    
}